<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926825819371-qnchitm7m3maakreodro2keq3ai2dei8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926825819371-qnchitm7m3maakreodro2keq3ai2dei8</string>
	<key>API_KEY</key>
	<string>AIzaSyDc3NEPuywWrqeDGZliUGzRQrpeWnz_YJA</string>
	<key>GCM_SENDER_ID</key>
	<string>926825819371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exam.sat</string>
	<key>PROJECT_ID</key>
	<string>sat-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>sat-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926825819371:ios:4a0b2c92de3fc7263be2ae</string>
</dict>
</plist>